/* ************* ORDENADORES ************* */
@media screen and (min-width: 1024px){
    /* ************** CONTENEDOR GALERIA *************** */
    .contenido-elemento {
        min-width: 400px;
        max-width: 400px;
        min-height: 240px;
        max-height: 240px;
        background-color: black;
    }

    .cont-ele-desc-video360 {
        background: url('./recursos/video-360_128x128.png');
    }
    
    .cont-ele-desc-foto360 {
        background: url('./recursos/imagen-360_128x128.png');
    }

    .cont-ele-desc-video360, .cont-ele-desc-foto360 {
        width: 25px;
        height: 25px;
        background-size: contain;
    }
}