/* ************* TABLETS O ANDROID HORIZONTAL ************* */
@media screen and (min-width: 768px){
    /* ************** CONTENEDOR GALERIA *************** */
    .contenido-elemento {
        min-width: 350px;
        max-width: 350px;
        min-height: 200px;
        max-height: 200px;
        background-color: blueviolet;
    }

    .cont-ele-desc-video360, .cont-ele-desc-foto360 {
        width: 20px;
        height: 20px;
    }
}